.message {
    background-color: #141414;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #070707;

    overflow-wrap: break-word;

    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;

    width: 300px;
}

.messageboard {
    display: grid;
    grid-template-columns: auto auto auto;
}

.upVote {
    background-color: green;
    border: none;

    width: 25px;
    height: 25px;

    margin: 15px;
}

.downVote {
    background-color: red;
    border: none;

    width: 25px;
    height: 25px;

    margin: 15px;
}
