:root {
  --light: #e7e7e7;
  --dark: #2b2b2b;
  --highlight: #C34B24;

}

body {
  color: var(--light);
  background: var(--dark);
  font-family: Arial;
}

/* Custom OSU color class */
.osu-color {
  color: rgb(195, 75, 36);
}