:root {
  --light: 231, 231, 231;
  --dark: 43, 43, 43;
  --highlight: 230, 122, 0;
}

body {
  color: rgb(var(--light));
  background: rgb(var(--dark));
  font-family: Arial;
}

.foodplace {
  background-color: rgba(var(--highlight), 0.08);
  outline: solid rgb(var(--highlight)) 5px;

  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 20px;

  margin: 25px;
}

.foodtitle {
  font-size: xx-large;
}

.campusevent {
  background-color: rgba(var(--highlight), 0.08);
  outline: solid rgb(var(--highlight)) 5px;

  width: 750px;
  padding: 20px;
  border-radius: 20px;

  margin: 25px;
}

.campustitle:link {
  font-size: x-large;
}

.campustitle:link {
  color:rgb(var(--light));
  text-decoration: none;
}

.campustitle:visited {
  color:rgb(var(--light));
  text-decoration: none;
}
